.qform-item-comp-readonly{
    --el-disabled-bg-color:#fff;
    --el-disabled-text-color:var(--el-input-text-color);
    --el-fill-color-light:#fff;
    --el-color-info:var(--el-input-text-color);
    .el-slider__runway.is-disabled{
        .el-slider__bar{
            background-color:var(--el-slider-main-bg-color);
        }
        .el-slider__button {
            border-color: var(--el-slider-main-bg-color);
        }
    } 
    .el-checkbox__input.is-checked.is-disabled {
        .el-checkbox__inner{
            background-color:var(--el-checkbox-checked-bg-color);
            border-color:var(--el-checkbox-checked-input-border-color);
            &:after{
                border-color:var(--el-checkbox-checked-icon-color);
            }
        }
        &+span.el-checkbox__label{
            color: var(--el-checkbox-checked-text-color);
        }
    }
    .el-radio__input.is-disabled{
        &.is-checked {
            .el-radio__inner{
                border-color: var(--el-color-primary);
                background: var(--el-color-primary);
                &::after {
                    background-color: var(--el-disabled-bg-color)
                }
            }
            &+span.el-radio__label{
                color: var(--el-color-primary);
            }
        }
        &+span.el-radio__label{
            color: var(--el-radio-text-color);
        }
    }
}